.container-pokemon-page{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    background-color: #ECE3CE;
    max-width:1000px;
}

.card{
    border-style: none;
}

.container-pokemon-page-btn{
    background-color: #ECE3CE;
    padding: 0px 0px 0px 40px;
}
.container-pokemon-page-img{
    background-color: #ECE3CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{
    max-width: 100%;
}

.img-pokemon-page{
    background-color: #ECE3CE;
    
}

.card-body-pokemon-page{
    background-color: #ECE3CE;
    padding: 40px;
    
}

.pokemon-page-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ECE3CE;
}

h4{
    background-color: #ECE3CE;
}

h5{
    background-color: #ECE3CE;
}

.stats-container{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ECE3CE;
}

.stat-container{
    background-color: #ECE3CE;
    margin: 0%;
}

.types-container{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ECE3CE;
}

.type-container{
    background-color: #ECE3CE;
    margin: 0%;
}

.abilities-container{
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ECE3CE;
}

.ability-container{
    background-color: #ECE3CE;
    margin: 0%;
}

.evolutions-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    padding: 10px;
}

.game-indices-container{
    background-color: #ECE3CE;
    padding-top: 30px;
}